body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.title2 {
    color: #2e2f42;
}

.studio {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.studio:hover,
.studio:focus {
    color: #404bbf;
}

.portfolio {
    font-weight: 500
}
.portfolio:hover,
.portfolio:focus {
    color: #404bbf;
}

.contacts {
    font-weight: 500
}
.contacts:hover,
.contacts:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address:hover,
.address:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
}

.first-section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.button:hover,
.button:focus {
background-color: #404BBF;
}